.toggleButton {
    width: 60px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--toggleButtonBackground);
}


.circle {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.moonIcon {
    font-size: 20px;
    color: var(--iconSwitchColor);
    margin-top: 6px;
    transition: all 0.3s ease;
}

.input:checked ~ .circle {
    transform: translateX(-28px);
    -webkit-transform: translateX(-28px);
    -ms-transform: translateX(-28px);
}

.input:checked ~ .moonIcon {
    transform: translateX(28px);
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
}

.input{
    height: 0;
    width: 0;
    opacity: 0;
}