* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'unito san' , sans-serif;
}

:root {
  --toggleButtonBackground: hsl(208, 59%, 41%);
  --iconSwitchColor: hsl(51, 96%, 61%);
  --textShadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  --selectOptionBackground: rgb(1, 147, 207);
}

.darkTheme {
  background-color: rgba(7, 49, 85, 0.527);
  color: #fff;
  box-shadow: var(--boxShadow);
}

.lightTheme {
  background-color: #fff;
  color: #333;
  box-shadow: var(--boxShadow);
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}